<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>748607070331-2aekbvru812lkff9foqfr9ekhlr53bme.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.748607070331-2aekbvru812lkff9foqfr9ekhlr53bme</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>748607070331-pu8tmha8jeoihgnv5eo5m82aa50jtaf3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDT79PS9i-TxtZqq1nKdxXMCcSGnCbD7lM</string>
	<key>GCM_SENDER_ID</key>
	<string>748607070331</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterInterviewPreparation</string>
	<key>PROJECT_ID</key>
	<string>interview-preparation-app-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>interview-preparation-app-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:748607070331:ios:e6ca3e36f6ee0a4428c2de</string>
	<key>DATABASE_URL</key>
	<string>https://interview-preparation-app-demo-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>